<label class="control-label" >Materia :</label>
<select id="idMateria" name="idMateria" required title="Debes seleccionar una materia">   
         {{ materia | raw }}                       
 </select> <!---->