{% extends 'TitulacionSisAcademicoBundle:Home:index.html.twig' %}


{% block contenido %}
  <script src="{{ asset('js/EnviarMensajes.js') }}"></script>
    <script src="{{ asset('js/ValidacionesNotificaciones.js') }}"></script>
<script src="{{ asset('theme/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <script type="text/javascript">
  $(function () {
           TableAdvanced.init();
    });  
</script>

        
        <section class="">
          <div class="">
             
            
            <div class="col-md-12">
              <div class="box-header with-border">
                <h3 class="box-title">Horarios de clases</h3>
               
            </div><!-- /.box-header -->
             <div class="box box-solid">
                            <div class="panel-heading">    
           <div class="box box-solid">
			       
				        <table class="table table-striped table-bordered table-hover" id="sample_1">
				        <thead>
				        <tr>
					        <th> Codigo </th>	
                                                <th> Curso </th>	
					        <th> Descripcion   </th>					       
                                                <th style="text-align: center">Descargar</th>
				        </tr>
				        </thead>
				        <tbody>
                   
                           
                                <tr>
                                    <td>Horario</td>   
                                     <td>S6k</td> 
                                    <td>Curso Robotica</td>
                                    <td style="text-align: center">  <a href="{{path('docentes_pdfhorarios')}}" id="Mensaje_1" name="Mensaje_1">
                                    <i class="fa fa-download"></i>                                                           
                                    </a></td>
                                </tr>
                           
                             
                            
                                                              
                    </tbody>
				        </table>
			        
		      
            </div>                 
            </div>
          </div>
            </div>
        
          </div>
        </section>

   
                

{% endblock %}

