appAcademico/src/Titulacion/SisAcademicoBundle/Controller/AdminController.php.orig
appAcademico/src/Titulacion/SisAcademicoBundle/Helper/UgServices.php.orig
sh.exe.stackdump
appAcademico/src/Titulacion/SisAcademicoBundle/Resources/views/Docentes/listadoCarreras.html.twig.orig
appAcademico/src/Titulacion/SisAcademicoBundle/Resources/views/Home/menu_principal.html.twig.orig
appAcademico/web/images/img_perfil/imgPerfil_28.png
appAcademico/web/images/img_perfil/imgPerfil_6.png
nbproject/private/config.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
appAcademico/nbproject/private/config.properties
appAcademico/nbproject/private/private.properties
appAcademico/nbproject/private/private.xml
appAcademico/nbproject/project.properties
appAcademico/nbproject/project.xml
