<label class="control-label" >Seleccione Docente :</label>
 <select class="form-control" id="Docente">
     {%if Docente==""%}
         <option value="0">No existe Docente disponible</option> 
    {%else%} 
        
{% for Docente in Docente %} 
    <option value="{{ Docente.id_profesor }}">{{ Docente.nombre_profesor }}</option>                        
{%endfor%} 
{%endif%} 
 </select>