{% block home %}

<meta charset="utf-8">
<div>
	<p style="text-align: justify;">
		Usted ha contactado con nosotros pidiendo soporte para su cuenta de UG. Academico, debido a que olvid칩 su contrase침a.</br>
		Por favor proceda al siguiente enlace para que pueda restaurar su contrase침a y pueda seguir utilizando su cuenta.</br>
		Si ud. no realizo esta peticion, haga caso omiso al correo y podra continuar con su clave actual.
	</p>

	<p>
		<strong>De clic en el siguiente enlace para que pueda...  </strong><a href="#"> Restablecer contrase침a </a>
	</p>
</div>

{% endblock %}
