{% extends 'TitulacionSisAcademicoBundle:Home:index.html.twig' %}
{% block contenido %}
  
     <section class="">
          <div class="">
             
            
            <div class="col-md-12">
           
                                    
                                       
                              
				        <div class="box-header with-border">
                <h3 class="box-title">Eventos (Tienes # eventos nuevos)</h3>
               
            </div><!-- /.box-header -->
          
			         <div class="box box-solid">
				        <table class="table table-striped table-bordered table-hover" id="sample_1">
				        <thead>
				        <tr>
					        <th> Tipo </th>					       
					        <th> Asunto   </th>
					        <th> Detalle </th>
					        <th>Fecha de Envio</th>
                                                <th>Ver Mensajes</th>
				        </tr>
				        </thead>
				        <tbody>
                   
                            <tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                                <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#" id="Mensaje_1" name="Mensaje_1">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr>
                             <tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                                <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr><tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                                <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr><tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                                <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr><tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                                <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr><tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                                <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr><tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                                <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr><tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                               <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr><tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                               <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr><tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                               <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr><tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                                <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr><tr>
                                <td>Notifiación</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                               <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr>
                            <tr>
                                <td>Mensaje</td>                               
                                <td>No hay Clases</td>
                                <td>El Sabado 7 de agosto no hay clases ...</td>
                              <td style="text-align: center">13/09/2015</td>
                                 <td style="text-align: center">  <a href="#">
                                         <i class="fa fa-envelope-o"></i>                                                           
                                                        </a></td>
                            </tr>                            
                            
                            
                                                              
                    </tbody>
				        </table>
			        </div>
		      
                                      
                                   
            </div>
        
          </div>
        </section>

    
{% endblock %}


