<script>
    
    $(document).ready(function() {
    $('#example').DataTable();
     $('#sample_1').DataTable();
} );
</script>


{%if solicitudes==""%}
      
         <table id="example"   class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
				        <thead>
				        <tr>
					        	
                                                <th style="text-align: center"> Solicitud </th>	
					        <th style="text-align: center"> Descargar   </th>
					       
				        </tr>
				        </thead>
                                       
                                          
				        </table>   
    
          {%else%} 

   <table class="table table-striped table-bordered table-hover" id="sample_1">
				        <thead>
				        <tr>
					       <th style="text-align: center"> Solicitud </th>	
					        <th style="text-align: center"> Descargar   </th>
				        </tr>
				        </thead>
				        <tbody>
                                        {% for solicitudes in solicitudes %} 
                                        
                                            <tr>
                                                <td style="text-align:center">{{solicitudes.descripcion}}</td>
                                                <td style="text-align:center">
                                                    <a href="{{ url('solicitudes.ruta_archivo') }}"><i class="fa fa-download"></i></a>
                                                    
                                                </td>
                                            </tr>
                            
                                       {%endfor%}                        
                                        </tbody>
				        </table>                           

{%endif%} 


 

 