.col-lg-3 {
    width: 22%;
    display: none !important;
}

.col-lg-9 {
    width: 100% !important;
}

.panel-group .panel .panel-title {
    font-size: 85% !important;
    font-weight: bold !important;
}

.sidebar-menu .treeview-menu>li>a {
    font-size: 13px !important;
}